{
    "presets": ["@babel/preset-typescript", "@babel/preset-env"],
    "plugins": [
      "@babel/plugin-transform-runtime",
      [
        "dotenv-import",
        {
          "moduleName": "@env",
          "path": ".env.prod",
          "blacklist": null,
          "whitelist": null,
          "safe": false,
          "allowUndefined": false
        }
      ]
    ],
    "ignore": ["./node_modules", "./package.json", "./tsconfig.json"]
}